.swal2-icon {
	font-size: 1rem !important;
}

.manual-error {
	display: block;
	width: 100%;
	margin-top: .5rem;
	font-size: 80%;
	color: #f44336;
}

[v-cloak] {
    display: none;
}

.custom-padding tbody tr td {
	padding: .625rem !important;
}

.custom-padding tbody tr td:last-child {
	font-weight: 700 !important;
}

.img-preview-custom {
    max-height: 6.6rem;
    max-width: 6.6rem;
}

.form-control:disabled {
	color: #777;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #fcfcfc;
}

.list-feed-item {
    padding-bottom: 2.5rem;
}